.header {
  padding-top: 4rem;
  background-color: #f3ecd6;
}
#projects {
  background-color: #f3ecd6;
  padding-top: 4rem;
}
#about {
  padding-top: 4rem;
}

#blog {
  padding-top: 4rem;
}

#team {
  background-color: #f3ecd6;
  padding-top: 4rem;
}

#contact {
  padding-top: 4rem;
}
